---
layout: home.hbs
title: Mora Byggservice
base_url: "./"
---

<main class="bs-masthead" id="content" role="main">
    <div id="full-width-slider" class="royalSlider">
      <div class="rsContent">
        <a class="rsImg" href="{{assets}}/img/0016617r.jpg">Archea</a>
        <div class="container desc" >
          <div class="row "  >
            <div class="col-sm-6 col-md-5 callout" >
               <h2 class="h1 animated fadeInLeft delay03">Utförande</h2>
              <p class="animated fadeIn hidden-xs delay03">Vi utför det mesta som har med snickeri att göra.</p>
              <p>Ombyggnad, utbyggnad, takbyten, köksbyten, trapp, handikappsanpassningar, reparationer, industriservice, nybyggnation och altaner m.m.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="rsContent">
        <a class="rsImg" href="{{assets}}/img/0001.jpg">Archea</a>
        <div class="container desc" >
          <div class="row "  >
            <div class="col-sm-6 col-md-5 callout" >
               <h2 class="h1 animated fadeInLeft delay03">Planering</h2>
              <p class="animated fadeIn hidden-xs delay03">Vi utför det mesta som har med snickeri att göra.</p>
              <p>Ombyggnad, utbyggnad, takbyten, köksbyten, trapp, handikappsanpassningar, reparationer, industriservice, nybyggnation och altaner m.m.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="rsContent">
        <a class="rsImg" href="{{assets}}/img/002.jpg">Archea</a>
        <div class="container desc" >
          <div class="row "  >
            <div class="col-sm-6 col-md-5 callout" >
               <h2 class="h1 animated fadeInLeft delay03">Kompetens</h2>
              <p class="animated fadeIn hidden-xs delay03">Vi utför det mesta som har med snickeri att göra.</p>
              <p>Ombyggnad, utbyggnad, takbyten, köksbyten, trapp, handikappsanpassningar, reparationer, industriservice, nybyggnation och altaner m.m.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="rsContent">
        <a class="rsImg" href="{{assets}}/img/002.jpg">Archea</a>
        <div class="container desc" >
          <div class="row "  >
            <div class="col-sm-6 col-md-5 callout" >
               <h2 class="h1 animated fadeInLeft delay03">Produktion</h2>
              <p class="animated fadeIn hidden-xs delay03">Vi utför det mesta som har med snickeri att göra.</p>
              <p>Ombyggnad, utbyggnad, takbyten, köksbyten, trapp, handikappsanpassningar, reparationer, industriservice, nybyggnation och altaner m.m.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="olala">
    <div class="container">
      <h1>Förändra, förnya, förverkliga</h1>
      <p class="lead">
        Vi på Mora Byggservice AB, ser till att dina drömmar blir verklighet. <br />Vi hjälper dig med allt! från bygglov till byggklart. <br />Rena drömmen.
      </p>
      </div>
  </div>
</main>
