body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
}
.rsContent {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#full-width-slider .container {
    position: relative;
}
#full-width-slider .container.desc .row {
  bottom: 250px;
  left: 20px;
  position: absolute;
  top: auto;
  width: 100%;
  z-index: 15;
}
.callout {
  background: rgba(255,255,255, 0.4);
  border-radius: 2px;
  padding-bottom: 16px;
}
.banner {
  background: transparent;
  border: medium none;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.navbar {
  background: rgba(255,255,255,0.4);
  left: 0;
  right: 0;
  position: fixed;

  .navbar-toggle,
  .navbar-toggle:hover {
    border: transparent;
    background: #231F20;

    &:hover {
      .icon-bar {
        background-color: #fff;
      }
    }
  }
  .navbar-collapse {
    border-top: 0;
    clear: both;
  }

  .nav {
    float: none;
    margin: 0;
    text-align: center;
  }
}
.navbar-brand {
  background: transparent;
  box-shadow: none;
  padding: 7px 0;
  height: auto;

  img {
    width: 150px;
  }
}
.navbar-collapse {
  margin-right: -15px;
}
.navbar-default .navbar-nav > li > a {
    color: #231F20;
    text-transform: uppercase;
}
@media (min-width: @screen-sm-min) {
    .navbar {
        .navbar-collapse {
          border-top: 0;
          clear: none;
        }
        .nav {
          float: right;
        }
    }
}
@media (min-width: @screen-md-min) {
  .navbar {
    background: transparent;
    left: auto;
    right: auto;
  }
  .navbar {
    .navbar-inner {
      margin-top: 80px;
    }
    .nav {
      background: rgba(255,255,255,0.4);
      border-radius: 2px;
      float: right;
      margin: 31px 0 0 0;
    }
  }
  .navbar-brand {

    img {
      width: 300px;
    }
  }
}
.olala {
  padding: 60px 0;
  text-align: center;
}
